[submodule "cpp-dev"]
	path = cpp-dev
	url = ../cpp-dev.git
[submodule "golang-dev"]
	path = golang-dev
	url = ../golang-dev.git
[submodule "latex-dev"]
	path = latex-dev
	url = ../latex-dev.git
[submodule "python-dev"]
	path = python-dev
	url = ../python-dev.git
[submodule "r-dev"]
	path = r-dev
	url = ../r-dev.git
[submodule "ruby-dev"]
	path = ruby-dev
	url = ../ruby-dev.git
